@{
  ViewData["Title"] = "You are registered!";
}

<section class="hero is-dark-bb-background is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        You are now registered!
      </h1>

      <h2 class="subtitle has-text-light">
        Thank you for choosing to be part of the B&#234;jeb&#234;je community. There's one more step to completing your registration, please check your email.
      </h2>

      <p class="has-text-light">You may close this page.</p>
    </div>
  </div>
</section>