@{
  ViewData["Title"] = "You are registered!";
}

<section class="hero is-dark-bb-background is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        Please check your email!
      </h1>

      <p class="has-text-light">
        Thank you for choosing to be part of the B&#234;jeb&#234;je community. There's <strong class="has-text-light">one more step</strong> to completing your registration, please <strong class="has-text-light">check your email</strong>.
      </p>

      <p class="has-text-light">You may now close this page.</p>
    </div>
  </div>
</section>