<div class="has-folk-pattern-bg is-flex is-fullheight-universal is-vertically-centred is-horizontally-centred">
  <div class="is-shadow-wrapper has-radius-5">
    <div class="columns is-gapless">
      <div class="column has-background-white has-radius-5">
        <section class="section">
          <div class="logo">
            <a href="https://bejebeje.com">
              <img src="~/images/bejebeje-logo.svg" alt="bejebeje's logo" class="bejebeje-logo" />
            </a>
          </div>

          <p class="is-size-6 has-margin-15">Thank you, please check your email including its junk folder for further instructions.</p>
          <div class="has-text-centered">
            <a href="https://bejebeje.com" class="button is-primary">Back to site</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>