@model Bejebeje.Identity.ViewModels.ForgotPasswordViewModel

<section class="section">
  <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="field">
      <label asp-for="Email" class="label"></label>
      <div class="control">
        <input asp-for="Email" class="input" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
    </div>

    <div class="field">
      <button type="submit" class="button is-primary">Submit</button>
    </div>
  </form>
</section>