@model LoginViewModel

<div class="columns is-gapless is-fullheight-universal">
  <div class="column is-fullheight-universal is-two-fifths is-flex is-vertically-centred is-horizontally-centred">
    <div class="container is-fluid">
      <div class="logo">
        <a href="https://bejebeje.com">
          <img src="~/images/bejebeje-logo.svg" alt="bejebeje's logo" class="bejebeje-logo" />
        </a>
      </div>

      <p class="is-size-6 has-margin-15">Wish to contribute? <a asp-action="Register" asp-controller="Account">Create an account</a></p>

      @if (Model.EnableLocalLogin)
      {
        <form asp-route="Login">
          <input type="hidden" asp-for="ReturnUrl" />

          <div class="field">
            <label asp-for="Username" class="label"></label>
            <div class="control">
              <input class="input is-medium" placeholder="Username" asp-for="Username" autofocus>
            </div>
          </div>

          <div class="field">
            <label asp-for="Password" class="label"></label>
            <div class="control">
              <input type="password" class="input is-medium" placeholder="Password" asp-for="Password" autocomplete="off">
            </div>
          </div>

          @if (Model.AllowRememberLogin)
          {
            <div class="field is-flex is-justify-space-between">
              <label asp-for="RememberLogin" class="checkbox">
                <input asp-for="RememberLogin" type="checkbox">
                Remember me
              </label>

              <a asp-action="ForgotPassword" asp-controller="Account" class="is-size-7">Forgotten Password</a>
            </div>
          }

          <div class="field">
            <button class="button is-primary is-medium is-fullwidth" name="button" value="login">Login</button>
          </div>
        </form>
      }

      <div class="field">
        <p>Or login with</p>
      </div>

      @if (Model.VisibleExternalProviders.Any())
      {
        @foreach (var provider in Model.VisibleExternalProviders)
        {
          <div class="field">
            <a class="button is-google-button is-fullwidth"
               asp-controller="External"
               asp-action="Challenge"
               asp-route-provider="@provider.AuthenticationScheme"
               asp-route-returnUrl="@Model.ReturnUrl">
              @provider.DisplayName <i class="fab fa-@provider.DisplayName.ToLower()"></i>
            </a>
          </div>
        }
      }

      <p class="is-size-7">B&ecirc;jeb&ecirc;je &copy; 2015 - @DateTime.Now.Year.ToString(). All Rights Reserved.</p>
    </div>
  </div>
  <div class="column is-hidden-touch">
    <div class="has-folk-pattern-bg is-fullheight-universal is-flex is-fluid">
      <div class="container is-fullhd is-flex is-flex-columns is-flex-evenly-spaced">
        <div class="photo-frame has-men-bg has-margin-15">
        </div>
        <div class="proverb">
          <p class="is-family-secondary">&ldquo;Zimanê me, hebûna me ye&rdquo;</p>
        </div>
      </div>
    </div>
  </div>
</div>