@model LoginViewModel

<div id="login-page" class="is-flex is-full-height is-vertically-centred is-horizontally-centred">
  <div class="login-box-wrapper">
    <div class="columns is-gapless">
      <div class="column is-login-panel">
        <section class="section">
          <div class="logo">
            <img src="~/images/bejebeje-logo.svg" alt="bejebeje's logo" class="bejebeje-logo" />
          </div>

          @if (Model.EnableLocalLogin)
          {
            <form asp-route="Login">
              <input type="hidden" asp-for="ReturnUrl" />

              <div class="field">
                <label asp-for="Username" class="label"></label>
                <div class="control">
                  <input class="input" placeholder="Username" asp-for="Username" autofocus>
                </div>
              </div>

              <div class="field">
                <label asp-for="Password" class="label"></label>
                <div class="control">
                  <input type="password" class="input" placeholder="Password" asp-for="Password" autocomplete="off">
                </div>
              </div>

              @if (Model.AllowRememberLogin)
              {
                <div class="field">
                  <label asp-for="RememberLogin" class="checkbox">
                    <input asp-for="RememberLogin" type="checkbox">
                    Remember me
                  </label>
                </div>
              }

              <div class="field">
                <button class="button is-primary is-fullwidth">Login</button>
              </div>
            </form>
          }

          <div class="field">
            <p>Or login with</p>
          </div>

          @if (Model.VisibleExternalProviders.Any())
          {
            @foreach (var provider in Model.VisibleExternalProviders)
            {
              <div class="field">
                <a class="button is-google-button is-fullwidth"
                   asp-controller="External"
                   asp-action="Challenge"
                   asp-route-provider="@provider.AuthenticationScheme"
                   asp-route-returnUrl="@Model.ReturnUrl">
                  @provider.DisplayName <i class="fab fa-google"></i>
                </a>
              </div>
            }
          }

          <p class="is-size-7">Bêjebêje &copy; 2015 - 2019. All Rights Reserved.</p>
        </section>
      </div>
      <div class="column is-hero-panel">
      </div>
    </div>
  </div>
</div>
