@model Bejebeje.Identity.ViewModels.ResetPasswordViewModel

<div class="has-folk-pattern-bg is-flex is-fullheight-universal is-vertically-centred is-horizontally-centred">
  <div class="is-shadow-wrapper has-radius-5">
    <div class="columns is-gapless">
      <div class="column has-background-white has-radius-5">
        <section class="section">
          <div class="logo">
            <a href="https://bejebeje.com">
              <img src="~/images/bejebeje-logo.svg" alt="bejebeje's logo" class="bejebeje-logo" />
            </a>
          </div>

          <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Code" type="hidden" />

            <div class="field">
              <label class="label" asp-for="Email"></label>
              <div class="control">
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>
            </div>

            <div class="field">
              <label class="label" asp-for="Password"></label>
              <div class="control">
                <input asp-for="Password" class="input" />
                <span asp-validation-for="Password" class="text-danger"></span>
              </div>
            </div>

            <div class="field">
              <label asp-for="ConfirmPassword" class="label"></label>
              <div class="control">
                <input asp-for="ConfirmPassword" class="input" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
              </div>
            </div>

            <div class="field">
              <button type="submit" class="button is-primary">Reset Password</button>
              <a asp-action="Login" asp-controller="Account" class="button is-text">Back to login</a>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>