@model Bejebeje.Identity.ViewModels.ResetPasswordViewModel

<section class="section">
  <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Code" type="hidden" />

    <div class="field">
      <label class="label" asp-for="Email"></label>
      <div class="control">
        <input asp-for="Email" class="input" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
    </div>

    <div class="field">
      <label class="label" asp-for="Password"></label>
      <div class="control">
        <input asp-for="Password" class="input" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
    </div>

    <div class="field">
      <label asp-for="ConfirmPassword" class="label"></label>
      <div class="control">
        <input asp-for="ConfirmPassword" class="input" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      </div>
    </div>

    <div class="field">
      <button type="submit" class="button is-primary">Reset Password</button>
    </div>
  </form>
</section>