.is-full-height {
  height: 100vh;
}

.is-horizontally-centred {
    justify-content: center;
}

.is-vertically-centred {
    align-items: center;
}

.login-box {
    width: 480px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bejebeje-logo {
  width: 100px;
  height: 100px;
}

.wrapper {
  box-shadow: 10px 10px 8px #888888;
  border-radius: 5px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/folk-pattern.png') repeat 0 0 #ffffff;
}

.is-login-panel {
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.is-hero-panel {
  background: teal;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}