.full-height {
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bejebeje-logo {
  width: 100px;
  height: 100px;
}

.hero {
  background-color: teal;
  height: 100%;
  width: 100%;
}