.is-login-panel {
  background: white;
  min-width: 320px;
  max-width: 640px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.is-hero-panel {
  background-color: red;
  min-width: 640px;
  max-width: 1280px; 
}

.is-hero-panel-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.has-men-bg {
  background-image: url("../images/three-kurds.jpg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: cover;
}

.photo-frame {
  width: 75%;
  height: 55%;
  border: 70px solid #2f2f2f;
}

.proverb {


  p {
    color: #eaeaea;
    background-color: #2f2f2f;
    display: inline-block;
    padding: 15px;
    font-size: 2rem;
  }
}

.is-flex-columns {
  flex-direction: column;
}

.is-flex-evenly-spaced {
  justify-content: space-evenly;
  align-items: center;
}

.label {
  color: #5b5b5b;
}
