.is-horizontally-centred {
  justify-content: center;
}

.is-vertically-centred {
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bejebeje-logo {
  width: 100px;
  height: 100px;
}

#login-page {
  background: url("../images/folk-pattern.jpg") repeat 0 0 #ffffff;
}

.login-box-wrapper {
  border-radius: 5px;
  box-shadow: 0 4px 8px #7b1a1b;
}

.is-login-panel {
  background: white;
  min-width: 320px;
  max-width: 640px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.is-hero-panel {
  background-color: red;
  min-width: 640px;
  max-width: 1280px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: url("../images/three-kurds.jpg") no-repeat 50% 35% content-box;
}

.label {
  color: #5b5b5b;
}
