@using IdentityServer4.Extensions

@{
  string name = null;

  if (!true.Equals(ViewData["signed-out"]))
  {
    name = Context.User?.GetDisplayName();
  }
}

<!DOCTYPE html>
<html class="is-fullheight-universal">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title>Bêjebêje | @ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/main.min.css">
</head>
<body class="is-fullheight-universal">
  @RenderBody()
  @RenderSection("Scripts", required: false)
</body>
</html>