@using IdentityServer4.Extensions

@{
  string name = null;

  if (!true.Equals(ViewData["signed-out"]))
  {
    name = Context.User?.GetDisplayName();
  }
}

<!DOCTYPE html>
<html class="is-full-height">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Bêjebêje</title>
  <link rel="stylesheet" href="~/css/bulma.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="is-full-height">
  @RenderBody()
</body>
</html>